*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Nunito,sans-serif;
}
#screen {
    width: 100%;
    height: 100vh;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 18%;
    /* height: 100%; */
    border: 2px solid blue;
    background-color: #002447;
    color: white;
    position: sticky;
    
}

.right {
    width: 81%;
    /* height: 100%; */
    border: 2px solid blue;
    font-size: 14px;
    
}

.logo-img{
    width: 80%;
    height: 65px;
    margin: 12px auto;
    margin-bottom: 10px;

}
.logo-img>img{
    width: 100%;
    height: 100%;
}
.all-menu{
    width: 85%;
    margin: auto;
   
}
.menu{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 20px 0px;
}
.menu>i{
    width: 5%;
    font-size: 14px;
    

}
.menu>h3{
    width: 80%;
    font-size: 14px;
    font-weight: normal;

}
.product-head{
    color:#304d69;
    font-size: 10px;
    width: 85%;
    margin: auto;
}

.new-btn{
    background-color: #f6bb42;
    color: white;
    border-radius: 3px;
    width: 20%;
    text-align: center;
    font-size: 10px;
    height: 14px;
}

.navbar {
    width: 96%;
    /* height: 50px; */
    border: 2px solid orange;
    margin: auto;
    position: sticky;
   
}
.navbar-links{
    display: flex;
    justify-content: end;
    gap: 20px;
    list-style: none;
    margin:10px 0px;
}
.nav-link{
    border-left: 1px solid gray;
    margin:  10px 0px 10px 10px;
   padding-left: 20px;
   color: #0073cf;

}
.navbar>ul>li:nth-child(1){
    border: none;
}
.navbar>ul>li:nth-child(5){
    border: none;
}
.user-icon{
    border: 1px solid #0073cf;
    padding: 8px 10px;
    border-radius: 100%;
}
.right-content {
    width: 96%;
    /* height: 100%; */
    border: 2px solid black;
    margin: auto;
}
.right-first{
    background-color: #002447;
    color: white;
    border-radius: 6px;
    padding: 16px;
}
.right-fields {
    display: flex;
    justify-content: space-around;
   
}
.head{
    display: flex;
    justify-content: space-between;
}
.head>h1{
    font-weight: 500;
    letter-spacing: 0.4px;
}
.head>p{
    font-weight: 500;
    color: #c3c7ce;
}
.service-icons{
    margin-top: 24px;
}

.services {
    display: flex;

    justify-content: space-between;

}

.service {
    width: 20%;
    border: 1px solid green;
}